.icon {
  width: 1em;
  height: auto;
  padding: 0;
  margin: 0;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 1.5em;
  color: #000;
}

.icon:hover {
  color: #1890ff;
}
